[Unit]
Description=Mycodo server
After=syslog.target network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=20s
Type=forking
WorkingDirectory=/home/yawyd/crossthink/Mycodo
User=yawyd
Environment="PYTHONPATH=/home/yawyd/crossthink/Mycodo:${PYTHONPATH}"
TimeoutSec=0
#ExecStartPre=/bin/bash /home/yawyd/crossthink/Mycodo/install/influxdb_wait_until_running.sh
ExecStart=/home/yawyd/crossthink/Mycodo/env/bin/python /home/yawyd/crossthink/Mycodo/mycodo/mycodo_daemon.py
ExecStop=/home/yawyd/crossthink/Mycodo/env/bin/python /home/yawyd/crossthink/Mycodo/mycodo/mycodo_client.py -t
ExecReload=/home/yawyd/crossthink/Mycodo/env/bin/python /home/yawyd/crossthink/Mycodo/mycodo/mycodo_client.py -t && /home/yawyd/crossthink/Mycodo/env/bin/python /home/yawyd/crossthink/Mycodo/mycodo/mycodo_daemon.py

[Install]
WantedBy=multi-user.target
Alias=mycodo.service
