{% if "highstock" not in dashboard_dict %}
  <script type="text/javascript" src="/static/js/user_js/highstock-9.1.2.js"></script>
  {% set _dummy = dashboard_dict.update({"highstock": 1}) %}
{% endif %}
<script type="text/javascript" src="/static/js/user_js/highcharts-more-9.1.2.js"></script>
<script type="text/javascript" src="/static/js/user_js/data-9.1.2.js"></script>
<script type="text/javascript" src="/static/js/user_js/exporting-9.1.2.js"></script>
<script type="text/javascript" src="/static/js/user_js/export-data-9.1.2.js"></script>
<script type="text/javascript" src="/static/js/user_js/offline-exporting-9.1.2.js"></script>

{% if current_user.theme in dark_themes %}
  <script type="text/javascript" src="/static/js/dark-unica-custom.js"></script>
{% endif %}
