
  {%- set device_id = widget_options['measurement'].split(",")[0] -%}
  {%- set measurement_id = widget_options['measurement'].split(",")[1] -%}
  
  <div style="text-align: center">
  
  {%- for each_input in input if each_input.unique_id == device_id and measurement_id in device_measurements_dict -%}
  
    <span style="font-size: {{widget_options['font_em_value']}}em" id="value-{{each_widget.unique_id}}"></span><span style="font-size: {{widget_options['font_em_unit']}}em">
        {%- if dict_measure_units[measurement_id] in dict_units and
               dict_units[dict_measure_units[measurement_id]]['unit'] and
               widget_options['enable_unit'] -%}
          {{' ' + dict_units[dict_measure_units[measurement_id]]['unit']}}
        {%- endif -%}
    </span>
    
        {%- if widget_options['enable_name'] or widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
    <br/><span style="font-size: {{widget_options['font_em_timestamp']}}em">
        {%- endif -%}
    
        {%- if widget_options['enable_name'] -%}
          {{each_input.name + ' '}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{'('}}
        {%- endif -%}
        {%- if not device_measurements_dict[measurement_id].single_channel and widget_options['enable_channel'] -%}
          {{'CH' + (device_measurements_dict[measurement_id].channel|int)|string}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] and widget_options['enable_measurement'] -%}
          {{', '}}
        {%- endif -%}
        {%- if widget_options['enable_measurement'] and device_measurements_dict[measurement_id].measurement -%}
          {{dict_measurements[device_measurements_dict[measurement_id].measurement]['name']}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{')'}}
        {%- endif -%}
  {%- endfor -%}

  {%- for each_math in math if each_math.unique_id == device_id and measurement_id in device_measurements_dict -%}

    <span style="font-size: {{widget_options['font_em_value']}}em" id="value-{{each_widget.unique_id}}"></span><span style="font-size: {{widget_options['font_em_unit']}}em">
        {%- if dict_measure_units[measurement_id] in dict_units and
               dict_units[dict_measure_units[measurement_id]]['unit'] and
               widget_options['enable_unit'] -%}
          {{' ' + dict_units[dict_measure_units[measurement_id]]['unit']}}
        {%- endif -%}
    </span>

        {%- if widget_options['enable_name'] or widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
    <br/><span style="font-size: {{widget_options['font_em_timestamp']}}em">
        {%- endif -%}

        {%- if widget_options['enable_name'] -%}
          {{each_math.name + ' '}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{'('}}
        {%- endif -%}
        {%- if not device_measurements_dict[measurement_id].single_channel and widget_options['enable_channel'] -%}
          {{'CH' + (device_measurements_dict[measurement_id].channel|int)|string}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] and widget_options['enable_measurement'] -%}
          {{', '}}
        {%- endif -%}
        {%- if widget_options['enable_measurement'] and device_measurements_dict[measurement_id].measurement -%}
          {{dict_measurements[device_measurements_dict[measurement_id].measurement]['name']}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{')'}}
        {%- endif -%}
  {%- endfor -%}
  
  {%- for each_function in function if each_function.unique_id == device_id and measurement_id in device_measurements_dict -%}

    <span style="font-size: {{widget_options['font_em_value']}}em" id="value-{{each_widget.unique_id}}"></span><span style="font-size: {{widget_options['font_em_unit']}}em">
        {%- if dict_measure_units[measurement_id] in dict_units and
               dict_units[dict_measure_units[measurement_id]]['unit'] and
               widget_options['enable_unit'] -%}
          {{' ' + dict_units[dict_measure_units[measurement_id]]['unit']}}
        {%- endif -%}
    </span>

        {%- if widget_options['enable_name'] or widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
    <br/><span style="font-size: {{widget_options['font_em_timestamp']}}em">
        {%- endif -%}

        {%- if widget_options['enable_name'] -%}
          {{each_function.name + ' '}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{'('}}
        {%- endif -%}
        {%- if not device_measurements_dict[measurement_id].single_channel and widget_options['enable_channel'] -%}
          {{'CH' + (device_measurements_dict[measurement_id].channel|int)|string}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] and widget_options['enable_measurement'] -%}
          {{', '}}
        {%- endif -%}
        {%- if widget_options['enable_measurement'] and device_measurements_dict[measurement_id].measurement -%}
          {{dict_measurements[device_measurements_dict[measurement_id].measurement]['name']}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{')'}}
        {%- endif -%}
  {%- endfor -%}

  {%- for each_output in output  if each_output.unique_id == device_id and measurement_id in device_measurements_dict -%}

    <span style="font-size: {{widget_options['font_em_value']}}em" id="value-{{each_widget.unique_id}}"></span><span style="font-size: {{widget_options['font_em_unit']}}em">
        {%- if dict_measure_units[measurement_id] in dict_units and
               dict_units[dict_measure_units[measurement_id]]['unit'] and
               widget_options['enable_unit'] -%}
          {{' ' + dict_units[dict_measure_units[measurement_id]]['unit']}}
        {%- endif -%}
    </span>

        {%- if widget_options['enable_name'] or widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
    <br/><span style="font-size: {{widget_options['font_em_timestamp']}}em">
        {%- endif -%}

        {%- if widget_options['enable_name'] -%}
          {{each_output.name + ' '}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{'('}}
        {%- endif -%}
        {%- if not device_measurements_dict[measurement_id].single_channel and widget_options['enable_channel'] -%}
          {{'CH' + (device_measurements_dict[measurement_id].channel|int)|string}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] and widget_options['enable_measurement'] -%}
          {{', '}}
        {%- endif -%}
        {%- if widget_options['enable_measurement'] and device_measurements_dict[measurement_id].measurement -%}
          {{dict_measurements[device_measurements_dict[measurement_id].measurement]['name']}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{')'}}
        {%- endif -%}
  {%- endfor -%}

  {%- for each_pid in pid  if each_pid.unique_id == device_id and measurement_id in device_measurements_dict -%}

    <span style="font-size: {{widget_options['font_em_value']}}em" id="value-{{each_widget.unique_id}}"></span><span style="font-size: {{widget_options['font_em_unit']}}em">
        {%- if dict_measure_units[measurement_id] in dict_units and
               dict_units[dict_measure_units[measurement_id]]['unit'] and
               widget_options['enable_unit'] -%}
          {{' ' + dict_units[dict_measure_units[measurement_id]]['unit']}}
        {%- endif -%}
    </span>

        {%- if widget_options['enable_name'] or widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
    <br/><span style="font-size: {{widget_options['font_em_timestamp']}}em">
        {%- endif -%}

        {%- if widget_options['enable_name'] -%}
          {{each_pid.name + ' '}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{'('}}
        {%- endif -%}
        {%- if not device_measurements_dict[measurement_id].single_channel and widget_options['enable_channel'] -%}
          {{'CH' + (device_measurements_dict[measurement_id].channel|int)|string}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] and widget_options['enable_measurement'] -%}
          {{', '}}
        {%- endif -%}
        {%- if widget_options['enable_measurement'] and device_measurements_dict[measurement_id].measurement -%}
          {{dict_measurements[device_measurements_dict[measurement_id].measurement]['name']}}
        {%- endif -%}
        {%- if widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
          {{')'}}
        {%- endif -%}
  {%- endfor -%}

  {%- if widget_options['enable_name'] or widget_options['enable_channel'] or widget_options['enable_measurement'] -%}
    </span>
  {%- endif -%}

  {%- if widget_options['enable_timestamp'] -%}
  <br/><span style="font-size: {{widget_options['font_em_timestamp']}}em" id="timestamp-{{each_widget.unique_id}}"></span>
  {%- endif -%}
  </div>
