function function_status(function_id, widget_id) {
  const url = '/function_status/' + function_id;
    $.getJSON(url,
      function(data, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          let string_display = "";
          if ('error' in data) {
            for (var i = 0, size = data['error'].length; i < size; i++){
              string_display += "<p>Error: " + data['error'][i] + "</p>";
            }
          }
          if ('string_status' in data) {
            string_display += data['string_status'].replace(/(?:\r\n|\r|\n)/g, "<br>");
          }
          document.getElementById("status-" + widget_id).innerHTML = string_display;
        }
        else {
          document.getElementById("status-" + widget_id).innerHTML = "Error";
        }
      }
    );
  }
  // Repeat function for function_status()
  function repeat_function_status(function_id, widget_id, period_sec) {
    setInterval(function () {
      function_status(function_id, widget_id)
    }, period_sec * 1000);
  }