
  $('.turn_off_pwm_slider').click(function() {
    const btn_val = this.name;
    const send_cmd = btn_val.substring(btn_val.indexOf('/') + 1);
    {% if not misc.hide_alert_info %}
    toastr['info']('Command sent to turn output Off');
    {% endif %}
    modOutputPWM(send_cmd);
  });
  $('.duty_cycle_on_amt_pwm_slider').click(function() {const output_id = btn_val.split('/')[1];
    const channel_id = btn_val.split('/')[2];
    const btn_val = this.name;
    const chart = btn_val.split('/')[0];
    
    const dc = $('#pwm_slider_duty_cycle_on_amt_' + chart + '_' + output_id + '_' + channel_id).val();
    const send_cmd = btn_val.substring(btn_val.indexOf('/') + 1);
    {% if not misc.hide_alert_info %}
    toastr['info']('Command sent to turn output On with a duty cycle of ' + dc + '%');
    {% endif %}
    modOutputPWM(send_cmd + dc);
  });
