
  // Turn Output on or off
  function modOutputOutput(btn_val) {
    $.ajax({
      type: 'GET',
      url: '/output_mod/' + btn_val,
    {% if not misc.hide_alert_success %}
      success: function(data) {
        if (data.startsWith("SUCCESS")) {
          toastr['success']("Output: " + data);
        }
        else {
          toastr['error']("Output: " + data);
        }
      },
    {% endif %}
      {% if not misc.hide_alert_warning %}
      error: function(data) {
        toastr['error']("Output " + btn_val.split("/")[0] + ": " + data);
      }
    {% endif %}
    });
  }

  // Retrieve the latest/last measurement for gauges/outputs
  function getLastDataOutput(widget_id,
                       unique_id,
                       measure_type,
                       measurement_id,
                       max_measure_age_sec,
                       decimal_places,
                       extra) {
    if (decimal_places === null) {
      decimal_places = 1;
    }
    const url = '/last/' + unique_id + '/' + measure_type + '/' + measurement_id + '/' + max_measure_age_sec.toString();
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          document.getElementById('value-' + measurement_id).innerHTML = 'NO DATA';
          document.getElementById('timestamp-' + measurement_id).innerHTML = 'TOO OLD';
        }
        else {
          const formattedTime = epoch_to_timestamp(data[0]);
          const measurement = data[1];
            document.getElementById('value-' + measurement_id).innerHTML = measurement.toFixed(decimal_places);

            const range_exists = document.getElementById("range_" + widget_id);
            if (range_exists != null) {  // Update range slider value
              document.getElementById("range_" + widget_id).value = measurement.toFixed(0);
              document.getElementById("range_val_" + widget_id).innerHTML = measurement.toFixed(0);
            }
          document.getElementById('timestamp-' + measurement_id).innerHTML = formattedTime;
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        document.getElementById('value-' + measurement_id).innerHTML = 'NO DATA';
        document.getElementById('timestamp-' + measurement_id).innerHTML = '{{_('Error')}}';
      }
    });
  }

  // Repeat function for getLastData()
  function repeatLastDataOutput(widget_id,
                          dev_id,
                          measure_type,
                          measurement_id,
                          period_sec,
                          max_measure_age_sec,
                          decimal_places,
                          extra) {
    setInterval(function () {
      getLastDataOutput(widget_id,
                  dev_id,
                  measure_type,
                  measurement_id,
                  max_measure_age_sec,
                  decimal_places,
                  extra)
    }, period_sec * 1000);
  }

  function getGPIOStateOutput(widget_id, unique_id, channel_id) {
    const url = '/outputstate_unique_id/' + unique_id + '/' + channel_id;
    $.getJSON(url,
      function(state, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          if (state !== null) {
            document.getElementById("container-output-" + widget_id).className = "active-background";
            if (state !== 'off') {
              if (state === 'on') {
                document.getElementById("text-output-state-" + widget_id).innerHTML = '({{_('Active')}})';
              } else {
                document.getElementById("text-output-state-" + widget_id).innerHTML = '({{_('Active')}}, ' + state.toFixed(1) + '%)';
              }
            }
            else {
              document.getElementById("container-output-" + widget_id).className = "inactive-background";
              document.getElementById("text-output-state-" + widget_id).innerHTML = '({{_('Inactive')}})';
            }
          }
        }
        else {
          document.getElementById("container-output-" + widget_id).className = "pause-background";
          document.getElementById("text-output-state-" + widget_id).innerHTML = '{{_('No Connection')}}';
        }
      }
    );
  }

  function repeatGPIOStateOutput(widget_id, unique_id, channel_id, refresh_duration) {
    setInterval(function () {
      getGPIOStateOutput(widget_id, unique_id, channel_id);
    }, refresh_duration * 1000);  // Refresh duration in milliseconds
  }
