
  Highcharts.setOptions({
    global: {
      useUTC: false
    },
    lang: {
      thousandsSep: ','
    }
  });

  // Change opacity of all chart colors
  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
    return Highcharts.Color(color).setOpacity(0.6).get('rgba');
  });

  let note_timestamps = {};
  let last_output_time_mil = {};  // Store the time (epoch) of the last data point received

  function graphMenuFunction(widget_id) {
    var x = document.getElementById("widget-graph-responsive-controls-" + widget_id);
    var y = document.getElementById("widget-graph-title-" + widget_id);
    if (x.className === "widget-graph-responsive-controls") {
      x.className += " responsive";
    } else {
      x.className = "widget-graph-responsive-controls";
    }
    if (y.className === "widget-graph-title") {
      y.className += " responsive";
    } else {
      y.className = "widget-graph-title";
    }
  }

  // Redraw a particular chart
  function redrawGraph(widget_id, refresh_seconds, xaxis_duration_min, xaxis_reset) {
    widget[widget_id].redraw();

    if (xaxis_reset) {
      const epoch_min = new Date().setMinutes(new Date().getMinutes() - (1 * (xaxis_duration_min)));
      const epoch_max = new Date().getTime();

      // Ensure Reset Zoom button resets to the proper start and end times
      widget[widget_id].xAxis[0].update({min: epoch_min}, false);
      widget[widget_id].xAxis[0].update({max: epoch_max}, false);

      // Update the new data time frame and redraw the chart
      widget[widget_id].xAxis[0].setExtremes(epoch_min, epoch_max, true);
      widget[widget_id].xAxis[0].isDirty = true;
    }
  }

  // Retrieve initial graph data set from the past (duration set by user)
  function getPastDataSynchronousGraph(widget_id,
                       series,
                       unique_id,
                       measure_type,
                       measurement_id,
                       past_seconds) {
    const epoch_mil = new Date().getTime();
    const url = '/past/' + unique_id + '/' + measure_type + '/' + measurement_id + '/' + past_seconds;
    const update_id = widget_id + "-" + series + "-" + unique_id + "-" + measure_type + '-' + measurement_id;

    $.getJSON(url,
      function(data, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          let past_data = [];
          const note_key = widget_id + "_" + series;

          // Add the received data to the graph
          for (let i = 0; i < data.length; i++) {
            const new_time = new Date(data[i][0]).getTime();

            if (measure_type === 'tag') {
              if (!(note_key in note_timestamps)) note_timestamps[note_key] = [];
              if (!note_timestamps[note_key].includes(new_time)) {
                past_data.push({
                  x: new_time,
                  title: data[i][1],
                  text: data[i][2].replace(/(?:\r\n|\r|\n)/g, '<br/>').replace(/  /g, '\u2591\u2591')
                });
                note_timestamps[note_key].push(new_time);
              }
            }
            else {
              past_data.push([new_time, data[i][1]]);
            }

            // Store the epoch time of the last data point received
            if (i === data.length - 1) {
              if (measure_type === 'tag') last_output_time_mil[update_id] = new_time + 3000;
              else last_output_time_mil[update_id] = new_time;
            }
          }

          // Set x-axis extremes, set graph data
          widget[widget_id].series[series].isDirty = true;  // Data may not be in order by timestamp
          const epoch_min = new Date().setMinutes(new Date().getMinutes() - (past_seconds / 60))
          widget[widget_id].xAxis[0].setExtremes(epoch_min, epoch_mil);
          widget[widget_id].series[series].setData(past_data, true, false);
        }
      }
    );
  }

  // Retrieve chart data for the period since the last data acquisition (refresh period set by user)
  function retrieveLiveDataSynchronousGraph(widget_id,
                            series,
                            unique_id,
                            measure_type,
                            measurement_id,
                            xaxis_duration_min,
                            xaxis_reset,
                            refresh_seconds) {
    // Determine the timestamp of the last known measurement on the graph and
    // calculate the number of seconds from then until now, then build the URL
    // to query the measurements from that time period.
    let url = '';
    const epoch_mil = new Date().getTime();
    let update_id = widget_id + "-" + series + "-" + unique_id + "-" + measure_type + '-' + measurement_id;
    if (update_id in last_output_time_mil) {
      const past_seconds = Math.floor((epoch_mil - last_output_time_mil[update_id]) / 1000);  // seconds (integer)
      url = '/past/' + unique_id + '/' + measure_type + '/' + measurement_id + '/' + past_seconds;
    } else {
      url = '/past/' + unique_id + '/' + measure_type + '/' + measurement_id + '/' + refresh_seconds;
    }

    $.getJSON(url,
      function(data, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          let time_point;
          const note_key = widget_id + "_" + series;
          // The timestamp of the beginning of the graph (oldest timestamp allowed on the graph)
          const oldest_timestamp_allowed = epoch_mil - (xaxis_duration_min * 60 * 1000);

          // Loop through data and add points to chart
          for (let i = 0; i < data.length; i++) {
            const time_point_raw = new Date(data[i][0]);
            time_point = time_point_raw.getTime();

            if (measure_type === 'tag') {
              if (!(note_key in note_timestamps)) note_timestamps[note_key] = [];
              if (!note_timestamps[note_key].includes(time_point)) {
                widget[widget_id].series[series].addPoint({
                    x: time_point,
                    title: data[i][1],
                    text: data[i][2].replace(/(?:\r\n|\r|\n)/g, '<br/>').replace(/  /g, '\u2591\u2591')
                }, false, false);
                note_timestamps[note_key].push(time_point);
              }
            }
            else {
              widget[widget_id].series[series].addPoint([time_point, data[i][1]], false, false);
            }
          }

          // Store last point timestamp
          if (measure_type === 'tag') last_output_time_mil[update_id] = time_point + 3000;
          else last_output_time_mil[update_id] = time_point;

          // Finally, redraw the graph
          redrawGraph(widget_id, refresh_seconds, xaxis_duration_min, xaxis_reset);

          // Remove any points before beginning of chart
          for (let i = 0; i < widget[widget_id].series[series].options.data.length; i++) {
            // Get stored point timestamp
            if (measure_type === 'tag') point_ts = widget[widget_id].series[series].options.data[i].x;
            else point_ts = widget[widget_id].series[series].options.data[i][0];

            // If stored point timestamp outside graph view, delete the point
            if (point_ts < oldest_timestamp_allowed) {
              widget[widget_id].series[series].removePoint(i, false);

              // Remove timestamp from note array
              if (measure_type === 'tag') {
                const index = note_timestamps[note_key].indexOf(point_ts);
                if (index > -1) note_timestamps[note_key].splice(index, 1);
              }
            } else break;
          }
        }
      }
    );
  }

  // Repeat function for retrieveLiveData()
  function getLiveDataSynchronousGraph(widget_id,
                       series,
                       unique_id,
                       measure_type,
                       measurement_id,
                       xaxis_duration_min,
                       xaxis_reset,
                       refresh_seconds) {
    setInterval(function () {
      retrieveLiveDataSynchronousGraph(widget_id,
                       series,
                       unique_id,
                       measure_type,
                       measurement_id,
                       xaxis_duration_min,
                       xaxis_reset,
                       refresh_seconds);
    }, refresh_seconds * 1000);
  }
